<div class="col-md-12" id="show">
  <div class="row">
    <div class="col-md-9 panel-default">
      <div class="panel-heading">
        <h3><%= @link.title %></h3>
        <p>Đăng lúc: <%=@link.create_day%></p>
      </div>
      <div class="panel-body">
          <p><%=@link.content%></p>
      </div>
      <div class="panel-footer">

      </div>
    </div>

    <div class="col-md-3 panel-default">
      <div class="panel-heading">
        <h5>Lượt đọc nhiều nhất: </h5>
      </div>
      <div class="panel-body">
        <p>1 cai hình</p>
        <p>1 cai title</p>
      </div>
    </div>
  </div>
</div>
